

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <!-- 拦截器 - 统一全站编码 -->
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- 拦截器 - 对后台页面请求进行拦截 -->
  <filter>
    <filter-name>BackServletFilter</filter-name>
    <filter-class>filter.BackServletFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BackServletFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- 拦截器 - 对前台需要登陆的页面请求进行拦截 -->
  <filter>
    <filter-name>ForeAuthFilter</filter-name>
    <filter-class>filter.ForeAuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ForeAuthFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- 拦截器 - 对前端页面请求进行拦截 -->
  <filter>
    <filter-name>ForeServletFilter</filter-name>
    <filter-class>filter.ForeServletFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ForeServletFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>


  <!-- 后台 - 分类管理 -->
  <servlet>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>servlet.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/categoryServlet</url-pattern>
  </servlet-mapping>

  <!-- 后台 - 属性管理 -->
  <servlet>
    <servlet-name>PropertyServlet</servlet-name>
    <servlet-class>servlet.PropertyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PropertyServlet</servlet-name>
    <url-pattern>/propertyServlet</url-pattern>
  </servlet-mapping>

  <!-- 后台 - 产品管理 -->
  <servlet>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/productServlet</url-pattern>
  </servlet-mapping>

  <!-- 后台 - 产品图片管理 -->
  <servlet>
    <servlet-name>ProductImageServlet</servlet-name>
    <servlet-class>servlet.ProductImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductImageServlet</servlet-name>
    <url-pattern>/productImageServlet</url-pattern>
  </servlet-mapping>

  <!-- 后台 - 用户管理 -->
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/userServlet</url-pattern>
  </servlet-mapping>

  <!-- 后台 - 订单管理 -->
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/orderServlet</url-pattern>
  </servlet-mapping>




  <!-- 前台 - foreServlet负责所有前台请求操作 -->
  <servlet>
    <servlet-name>ForeServlet</servlet-name>
    <servlet-class>servlet.ForeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForeServlet</servlet-name>
    <url-pattern>/foreServlet</url-pattern>
  </servlet-mapping>


</web-app>
